/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ................................................................................................................... */
:root {
    --background-color: aliceblue;
    --border-value: 0.2rem solid black;
    --block-radius: 0.5rem;
    --button-color: #FFA500;
}

.gameBlock {
    height: fit-content;
    width: fit-content;
    background-color: var(--background-color);
    padding: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.gameBlock > .title {
    width: 550px;
    height: 100px;
    background-color: white;
    border: var(--border-value);
    border-radius: var(--block-radius);
    font-size: 4rem;

    display: flex;
    justify-content: center;
    align-items: center ;
}

.gameBlock > .playingField {
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.playingField > .tile {
    height: 100px;
    width: 100px;

    border: var(--border-value);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;

    transition: 700ms;
}

.winningTile {
    transform: scale(1.2);
    background-color: aqua;
}

.gameBlock .gameAction {
    width: 300px;
    height: 100px;

    border-radius: var(--block-radius);
    font-size: 4rem;
    background-color: var(--button-color);
}

.active {
    transition: 700ms;
}

.active:hover {
    transform: scale(1.2);
}

.inputContainer {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.inputContainer input {
    width: 200px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    border-radius: var(--block-radius);
}

.iconSelector {
    display: flex;
    align-items: center;
    justify-content: center;

    border: var(--border-value);
    border-radius: var(--block-radius);
    padding: 1rem 3rem;
    background-color: var(--button-color);
    font-size: 2rem;
}

.unclicked:hover {
    background-color: aqua;
}
